<?xml version="1.0" encoding="utf-8" ?>
<data>
	<skins>
		<skin id="skin" url="assets/UI/ImageEffectEditor_UI.swf"/>
	</skins>
    <effects>
        <effect id="0" effectName="无效果"  englishName="none" duration="3" effectImgUrl="effect/images/none.png"     effectSwfUrl="effect/swfs/none.swf" />
	    <effect id="1" effectName="淡入淡出" englishName="fadeinout" duration="2" effectImgUrl="effect/images/fadeinout.png" effectSwfUrl="effect/swfs/fadeinout.swf" />
		<effect id="2" effectName="向左擦除" englishName="eraseleft" duration="2" effectImgUrl="effect/images/eraseleft.png" effectSwfUrl="effect/swfs/eraseleft.swf" />
        <effect id="3" effectName="缩小飞出" englishName="fadescale" duration="2" effectImgUrl="effect/images/fadescale.png" effectSwfUrl="effect/swfs/fadescale.swf" />
		<effect id="4" effectName="飞出" englishName="flyout" duration="2" effectImgUrl="effect/images/flyout.png" effectSwfUrl="effect/swfs/flyout.swf" />
		<effect id="5" effectName="向外擦除" englishName="eraseout" duration="2" effectImgUrl="effect/images/eraseout.png" effectSwfUrl="effect/swfs/eraseout.swf" />
		<effect id="6" effectName="向左推出" englishName="pushleft" duration="2" effectImgUrl="effect/images/pushleft.png" effectSwfUrl="effect/swfs/pushleft.swf" />
		<effect id="7" effectName="向上推出" englishName="pushup" duration="2" effectImgUrl="effect/images/pushup.png" effectSwfUrl="effect/swfs/pushup.swf" />
		<effect id="8" effectName="圆形" englishName="shapecircle" duration="2" effectImgUrl="effect/images/shapecircle.png" effectSwfUrl="effect/swfs/shapecircle.swf" />
		<effect id="9" effectName="时钟" englishName="shapeclock" duration="2" effectImgUrl="effect/images/shapeclock.png" effectSwfUrl="effect/swfs/shapeclock.swf" />
		<effect id="10" effectName="菱形" englishName="shaperhombus" duration="2" effectImgUrl="effect/images/shaperhombus.png" effectSwfUrl="effect/swfs/shaperhombus.swf" />
		<effect id="11" effectName="波浪" englishName="wave" duration="2" effectImgUrl="effect/images/wave.png" effectSwfUrl="effect/swfs/wave.swf" />
        <effect id="12" effectName="扇形" englishName="shapefan" duration="2" effectImgUrl="effect/images/shapefan.png" effectSwfUrl="effect/swfs/shapefan.swf" />
		<effect id="13" effectName="马赛克" englishName="mosaic" duration="2" effectImgUrl="effect/images/mosaic.png" effectSwfUrl="effect/swfs/mosaic.swf" />
	</effects>
</data>